/* Header */

header {
	text-align: center;
	background-color: #96e2d3;
	width:100%;
	border-top: 0.2em solid #4abdac;
	border-bottom: 0.2em solid #4abdac;
	overflow:visible;
}
#header {
	padding:0;
	margin:0;
	width: 100%;
}
.inner {
	display:inline;
}
#take2-logo{
	padding: 0.5em 0;
}

/* Body */
main {
	height: 100%;
}

html, body {
	height: 100%;
}

a {
	color: #F7B733;
}

main {
	text-align: center;
}
.major-title {
	padding: 2% 0 1% 0;
	margin: 4% 0 4% 0;
	border-bottom: 1px black solid;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	font-size: 2em;
}
.minor-title {
	padding: 0 0 4% 0;
	margin: 0 0 0 0;
	border-bottom: 1px black solid;
	text-align:left;
}
.logo{
	margin: 0;
	padding: 0;
}
#recipe-title.major-title {
	margin-bottom: 0;
}
#recipe-z.minor-title {
	border-bottom: 0;
}

.ingredient-input {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.about_photo img{
	border: 1px solid black;
	height: auto;		/*photo will auto adjust height based on image width*/
	max-width: 100%;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.dropFirst .dropSecond{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Footer */
.footer-links {
	list-style-type: none;
}

footer {
	height: 100%;
}

.icon {
	float:left;
	width:150px;
	height:150px;
	display: inline-block;
	text-align: center;
}

/* desktop */
@media only screen and (min-width: 1141px) {

    .icon {
        height:50px;
        width:50px;
			}

}

/* mobile */
@media only screen and (max-width: 767px) {

    .icon {
        height: 60px;
        width: 60px;
			}
}
