/* Header */

header {
	text-align: center;
	background-color: #96e2d3;
	width:100%;
	border-top: 0.2em solid #4abdac;
	border-bottom: 0.2em solid #4abdac;
	overflow:visible;
}
#header {
	padding:0;
	margin:0;
	width: 100%;
}
.inner {
	display:inline;
}
#take2-logo{
	padding: 0.5em 0;
}

/* Body */
main {
	text-align: center;
}
.major-title {

	margin: 4% 0 4% 0;
	border-bottom: 1px black solid;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	font-size: 2em;
}
.minor-title {
	padding: 0 0 4% 0;
	margin: 0 0 0 0;
	border-bottom: 1px black solid;
	text-align:left;
}
.logo{
	margin: 0;
	padding: 0;
}
#recipe-title.major-title {
	margin-bottom: 0;
}
#recipe-z.minor-title {
	border-bottom: 0;
}

.ingredient-input {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.about_photo img{
	border: 1px solid black;
	height: auto;		/*photo will auto adjust height based on image width*/
	max-width: 100%;
}


.form-control .select2-container {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}

a#how-to-use-toggle {
    text-decoration: none !important;
    display:inline-block;
    width:100%;

}
#how-to-use-box{

}
#how-to-use-inner{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
	text-align:left;

}
#how-to-use-inner ol{

	margin: 20px;
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
.select2 {
width: 100% !important;
}
}

/* Style for generated dish divisions */
.dishDivs {
    display: block;
    border-width: 3px;
    border-style: solid;
    border-color: #f7b733;
	color: #666666;
	height: 74px;
    background-color: #f7b733;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.dishDivs img {
	height: 200px;
	border-radius: 20px;
}

.innerDish {
	width: 97%;
	background-color: #fad385;
	border-radius: 20px;
	margin: 10px auto;
	padding: 10px;
}

/* Recipe */
.recipe-ingredient-list ul {
	list-style-type: none;
	float: left;
	font-size: 1em;
}
.minor-title-recipe {
	padding: 2% 0 1% 0;
	margin: 4% 0 4% 0;
	border-bottom: 1px black solid;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	font-size: 1.25em;
}
.recipe-directions-list {
	list-style-type: none;
	display: block;
	text-align: left;
}




/* Footer */
#footer-links {
	list-style-type: none;
}
