/* Header */

header {
	text-align: center;
	background-color: #96e2d3;
	width:100%;
	border-top: 0.2em solid #4abdac;
	border-bottom: 0.2em solid #4abdac;
	overflow:visible;
}
#header {
	padding:0;
	margin:0;
	width: 100%;
}
.inner {
	display:inline;
}
#take2-logo{
	padding: 0.5em 0;
}

/* Body */
main {
	text-align: center;
}
.major-title {
	padding: 2% 0 1% 0;
	margin: 4% 0 4% 0;
	border-bottom: 1px black solid;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	font-size: 2em;
}
.minor-title {
	padding: 0 0 4% 0;
	margin: 0 0 0 0;
	border-bottom: 1px black solid;
	text-align:left;
}
.logo{
	margin: 0;
	padding: 0;
}
#recipe-title.major-title {
	margin-bottom: 0;
}
#recipe-z.minor-title {
	border-bottom: 0;
}

.ingredient-input {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.about_photo img{
	border: 1px solid black;
	height: auto;		/*photo will auto adjust height based on image width*/
	max-width: 100%;
}

.form-control .select2-container {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}

@media screen and (max-width: 767px) {
.select2 {
width: 100% !important;
}
}




/* Footer */
#footer-links {
	list-style-type: none;
}
