/* Scrollbar */
#scrollbar-container {
	position:fixed;
	top: 85px; /*How far a-z scroll is from top*/
	right:1em;
    height: 85vh;
	z-index:1000; /*A-Z scroll will be overtop of the footer*/
	list-style-type:none;
	text-align:center;
    overflow: auto;
}

/* Style of the A-Z scrollbar */
.scrollbox {
	width: 3.2vh;
	height: 3.2vh;
	border-top: 0.2px solid #337ab7;
	border-right: 1px solid #337ab7;
	border-left: 1px solid #337ab7;
	font-size: 2.3vh;
	background-color: rgba(255, 255, 255, 0.5);
}
.scrollbox:last-child {
	border-bottom: 1px solid #337ab7;
}
#scollbar-list div a{
	text-decoration:none;
}
